<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="template">
<body>
<section layout:fragment="content" class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-lg-6 d-flex flex-column nowrap justify-content-center">
            <div class="card mt-4 mb-4">
                <div class="card-header">
                    <h4 class="card-title">
                        Đặt lại mật khẩu
                    </h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/reset-password}" th:object="${resetPasswordDTO}" method="post" class="p-md-4">
                        <input type="hidden" th:field="*{token}">
                        <div class="mb-3">
                            <div th:replace="fragments/input :: customInput('password', 'password', 'bi-key', 'Mật khẩu mới', true)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/input :: customInput('confirmPassword', 'password', 'bi-key', 'Nhập lại mật khẩu mới', true)"></div>
                        </div>
                        <div th:replace="fragments/recapcha :: recapcha"></div>
                        <span class="text-danger" th:if="${#fields.hasErrors('recaptchaResponse')}" th:errors="*{recaptchaResponse}"></span>
                        <p th:text="${error}" class="text-danger mb-3"></p>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-key"></i>
                            Đặt lại mật khẩu
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
