<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en" layout:decorate="template"

>
<body>
<section layout:fragment="content" class="container h-100">
    <div class="row justify-content-center mb-5">
        <div class="col-md-10 col-lg-8 d-flex flex-column nowrap justify-content-center">
            <div class="card mt-4 mb-4">
                <div class="card-header">
                    <h4 class="card-title"> Chi tiết bản ghi nợ của khách hàng
                        <span th:text="${customer.fullName}"></span>
                    </h4>
                </div>

                <div class="card-body" th:object="${debt}">
                    <div class="row">
                        <!-- Thông tin chi tiết bên trái -->
                        <div class="col-md-6">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Loại giao dịch:</th>
                                    <td>
                                        <span th:switch="*{type.name()}">
                                            <span th:case="'CUSTOMER_BORROW'">Khách hàng nợ cửa hàng</span>
                                            <span th:case="'CUSTOMER_REPAY'">Khách hàng trả nợ cửa hàng</span>
                                            <span th:case="'SHOP_BORROW'">Cửa hàng vay khách hàng</span>
                                            <span th:case="'SHOP_REPAY'">Cửa hàng trả nợ khách hàng</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Số tiền giao dịch:</th>
                                    <td><span th:text="*{amount}"></span></td>
                                </tr>
                                <tr>
                                    <th>Ngày giao dịch:</th>
                                    <td><span th:text="*{debtAt}" class="dateTime"></span></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-6 text-center" th:if="${debt.image != null && !debt.image.isEmpty()}">
                            <h5>Hình ảnh minh chứng</h5>
                            <img th:src="@{${'/' + debt.image}}" class="img-fluid img-thumbnail" alt="Hình ảnh minh chứng" style="max-width: 200px;">
                        </div>
                    </div>

                    <th:block th:if="${debt.description != null && !debt.description.isEmpty()}">
                        <hr>
                        <div class="mb-3">
                            <h5 class="text-center">Mô tả</h5>
                            <div th:utext="${debt.description}" class="form-control bg-light border" style="height: 100px; overflow-y: auto;"></div>
                        </div>
                    </th:block>

                    <hr>

                    <div class="text-end">
                        <a href=".." class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Quay lại
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('#amount').forEach(input => {
                input.addEventListener('keydown', function (event) {
                    let rawValue = this.getAttribute('data-raw') || '';

                    if (event.key === 'Backspace') {
                        event.preventDefault();
                        if (rawValue.length > 1) {
                            rawValue = rawValue.slice(0, -1);
                            this.setAttribute('data-raw', rawValue);
                            this.value = formatCurrency(rawValue);
                        } else {
                            this.setAttribute('data-raw', '');
                            this.value = '';
                        }
                    }
                });

                input.addEventListener('input', function () {
                    let rawValue = this.value.replace(/\D/g, '');
                    rawValue = rawValue.replace(/^0+/, '') || '0';
                    this.setAttribute('data-raw', rawValue);
                    this.value = formatCurrency(rawValue);
                });
                input.setAttribute('data-raw', input.value);
                input.value = formatCurrency(input.getAttribute('data-raw') || '');
            });
        });

        document.getElementById('addDebtForm').addEventListener('submit', function () {
            let amountInput = document.getElementById('amount');
            amountInput.value = amountInput.getAttribute('data-raw');
        });


    </script>

    <script>
        // validate data
        $('#fullName').on('input', function () {
            if ($(this).val() === '') {
                $(this).addClass('is-invalid');
            } else {
                $(this).removeClass('is-invalid');
            }
        });
    </script>


</section>
</body>
</html>
