<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="template"

>
<body>
<section layout:fragment="content" class="container-fluid h-100">
    <style>
        .single-line {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
        }
    </style>
    <h2 class="text-center mt-5">Danh sách bản ghi nợ của khách hàng
        <a th:href="@{'/customer/detail/' + ${customer.id}}" class="btn btn-info">
            <span th:text="${customer.fullName}"> </span>
        </a>
    </h2>


    <form id="searchForm" th:object="${debtFilterDTO}" th:action="@{${'/customer/' + customer.id +'/debt/'}}"  method="post" class="d-none">
        <input type="hidden" th:field="*{page}">
        <input type="hidden" th:field="*{orderBy}">
        <input type="hidden" th:field="*{direction}">
        <input type="hidden" th:field="*{size}">
        <input type="hidden" th:field="*{type}">
        <input type="hidden" th:field="*{description}">
        <input type="hidden" th:field="*{minAmount}">
        <input type="hidden" th:field="*{maxAmount}">
        <input type="hidden" th:field="*{minDebtAt}">
        <input type="hidden" th:field="*{maxDebtAt}">
        <input type="hidden" th:field="*{minCreatedAt}">
        <input type="hidden" th:field="*{maxCreatedAt}">
    </form>
    <div>
        <div class="table-responsive" >
            <table class="table table-container table-striped table-sm table-hover mt-5">
                <caption>
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="col text-start">
                                    <span th:text="'Hiển thị từ bản ghi ' + ${n1} + ' đến ' + ${n2} + ' trong tổng số ' + ${total} + ' bản ghi'"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="input-group-text" for="sizeField">Hiển thị</label>
                                    <input class="form-control" id="sizeField" list="size-options" th:value="${debtFilterDTO.size}" style="max-width: 80px;">
                                    <datalist id="size-options">
                                        <option value="5"></option>
                                        <option value="10"></option>
                                        <option value="20"></option>
                                        <option value="50"></option>
                                    </datalist>
                                    <label class="input-group-text" for="sizeField">kết quả/trang</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <a th:href="@{${'/customer/' + customer.id + '/debt/add'}}" class="btn btn-secondary">
                                    <i class="bi bi-plus-circle"></i> Thêm bản ghi nợ
                                </a>

                                <a th:href="@{'/customer'}" class="btn btn-secondary">
                                    <i class="bi bi-arrow-left"></i> Quay lại
                                </a>

                            </div>
                        </div>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th>STT</th>
                    <th th:each="field : ${fields}"
                        th:data="${field}"
                        style="cursor: pointer; min-width: 120px;">
                        <span>
                            <span th:text="${fieldTitles[__${field}__]}"></span>
                            <i th:if="${debtFilterDTO.orderBy} == ${field}"
                               th:class="${debtFilterDTO.direction == 'ASC' ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill'}"></i>
                        </span>
                    <th class="text-center" style="min-width: 200px;">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${debtFilterDTO}">
                    <td></td>
                    <td>
                        <select class="form-select form-select-sm" id="typeField" name="type" onchange="updateField()">
                            <option value="" th:selected="${debtFilterDTO.type == ''}">Tất cả</option>
                            <option value="CUSTOMER_BORROW"
                                    th:selected="${debtFilterDTO.type != null and debtFilterDTO.type.name() == 'CUSTOMER_BORROW'}">
                                Khách hàng nợ shop
                            </option>

                            <option value="CUSTOMER_REPAY" th:selected="${debtFilterDTO.type != null and debtFilterDTO.type.name() == 'CUSTOMER_REPAY'}">
                                Khách hàng trả nợ
                            </option>
                            <option value="SHOP_BORROW" th:selected="${debtFilterDTO.type != null and debtFilterDTO.type.name() == 'SHOP_BORROW'}">
                                Shop nợ khách hàng
                            </option>
                            <option value="SHOP_REPAY" th:selected="${debtFilterDTO.type != null and debtFilterDTO.type.name() == 'SHOP_REPAY'}">
                                Shop trả nợ khách hàng
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm " id="descriptionField" th:value="*{description}" placeholder="Mô tả">
                    </td>
                    <td>
                        <div class="d-flex gap-2" style="max-width: 200px">
                            <input type="text" class="form-control form-control-sm currency-input" id="minAmountField" th:value="*{minAmount}" th:attr="data-raw=*{minAmount}" placeholder="Số tiền từ">
                            <input type="text" class="form-control form-control-sm currency-input" id="maxAmountField" th:value="*{maxAmount}" th:attr="data-raw=*{maxAmount}" placeholder="Số tiền đến">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-2" style="max-width: 200px">
                            <input type="datetime-local" class="form-control form-control-sm" id="minDebtAtField" th:field="*{minDebtAt}" placeholder="Ngày nợ từ" style="max-width: 100px;">
                            <input type="datetime-local" class="form-control form-control-sm" id="maxDebtAtField" th:field="*{maxDebtAt}" placeholder="Ngày nợ đến" style="max-width: 100px;">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-2" style="max-width: 200px">
                            <input type="datetime-local" class="form-control form-control-sm" id="minCreatedAtField" th:value="*{minCreatedAt}" placeholder="Ngày tạo từ" style="max-width: 100px;">
                            <input type="datetime-local" class="form-control form-control-sm" id="maxCreatedAtField" th:value="*{maxCreatedAt}" placeholder="Ngày tạo đến" style="max-width: 100px;">
                        </div>
                    </td>
                    <td class="text-center">
                        <button id="btnSubmit" class="btn btn-primary">
                            <i class="bi bi-search"></i> Tìm kiếm
                        </button>
                    </td>
                </tr>
                <tr th:if="${debts.totalPages > 0}" th:each="item, step : ${debts}">
                    <td th:text="${debts.number * debts.size + step.index + 1}"></td>
                    <td th:each="field : ${fields}" >
                        <th:block th:switch="${fieldClasses[__${field}__]}" >
                            <th:block th:case="'debtType'">
                                <span th:classappend="${fieldClasses[__${field}__]}" th:if="${item[field]?.name() == 'CUSTOMER_BORROW'}">Khách hàng nợ shop</span>
                                <span th:classappend="${fieldClasses[__${field}__]}" th:if="${item[field]?.name() == 'CUSTOMER_REPAY'}">Khách hàng trả nợ</span>
                                <span th:classappend="${fieldClasses[__${field}__]}" th:if="${item[field]?.name() == 'SHOP_BORROW'}">Shop nợ khách hàng</span>
                                <span th:classappend="${fieldClasses[__${field}__]}" th:if="${item[field]?.name() == 'SHOP_REPAY'}">Shop trả nợ khách hàng</span>
                            </th:block>
                            <th:block th:case="'image'">
                                <img th:src="@{'/' + ${item[field]}}" class="img-thumbnail tableImg" width="50" height="50" style="aspect-ratio: 1/1; object-fit: cover; cursor: pointer">
                            </th:block>
                            <th:block th:case="'html'">
                                <span class="single-line" th:classappend="${fieldClasses[__${field}__]}" th:utext="${item[field]}"></span>
                            </th:block>
                            <th:block th:case="*">
                                <span th:classappend="${fieldClasses[__${field}__]}" th:text="${item[field]}"></span>
                            </th:block>
                        </th:block>
                    </td>
                    <td class="text-center">
                        <a th:href="@{${'/customer/' + customer.id +'/debt/' + item.id + '/detail'}}" class="btn btn-info">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:if="${debts.totalPages == 0}">
            <div class="alert alert-warning text-center mt-5">
                Không có bản ghi nào, thử <a href="javascript:void(0);" onclick="resetField()" class="alert-link"> đặt lại bộ lọc </a> hoặc thêm mới bản ghi
            </div>
        </th:block>
        <th:block th:if="${debts.totalPages > 1}">
            <div th:replace="fragments/pagination :: pagination(${debts})"></div>
        </th:block>
    </div>

    <script>
        function goToPage(page) {
            document.getElementById('searchForm').elements['page'].value = page;
            document.getElementById('searchForm').submit();
        }

        document.querySelectorAll('th').forEach(th => {
            if (!th.getAttribute('data')) return;
            th.addEventListener('click', () => {
                updateOrder(th.getAttribute('data'));
            });
        });

        function updateOrder(field) {
            let form = document.getElementById('searchForm');
            let orderBy = form.elements['orderBy'].value;
            let direction = form.elements['direction'].value;
            if (orderBy === field) {
                form.elements['direction'].value = direction === 'ASC' ? 'DESC' : 'ASC';
            } else {
                form.elements['orderBy'].value = field;
                form.elements['direction'].value = 'ASC';
            }
            updateField();
        }



        document.getElementById('btnSubmit').addEventListener('click', () => {
            updateField();
        });

        function resetField() {
            let form = document.getElementById('searchForm');
            form.elements['type'].value = '';
            form.elements['description'].value = '';
            form.elements['minAmount'].value = '';
            form.elements['maxAmount'].value = '';
            form.elements['minDebtAt'].value = '';
            form.elements['maxDebtAt'].value = '';
            form.elements['minCreatedAt'].value = '';
            form.elements['maxCreatedAt'].value = '';
            form.elements['page'].value = 1;
            form.elements['size'].value = 10;
            form.submit();
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.currency-input').forEach(input => {
                input.addEventListener('keydown', function (event) {
                    let rawValue = this.getAttribute('data-raw') || '';

                    if (event.key === 'Backspace') {
                        event.preventDefault();
                        if (rawValue.length > 1) {
                            rawValue = rawValue.slice(0, -1);
                            this.setAttribute('data-raw', rawValue);
                            this.value = formatCurrency(rawValue);
                        } else {
                            this.setAttribute('data-raw', '');
                            this.value = '';
                        }
                    }
                });

                input.addEventListener('input', function () {
                    let rawValue = this.value.replace(/\D/g, '');
                    rawValue = rawValue.replace(/^0+/, '') || '0';
                    this.setAttribute('data-raw', rawValue);
                    this.value = formatCurrency(rawValue);
                });

                input.value = formatCurrency(input.getAttribute('data-raw') || '');


            });
        });


        function updateField() {
            let form = document.getElementById('searchForm');
            form.elements['type'].value = document.getElementById('typeField').value;
            form.elements['description'].value = document.getElementById('descriptionField').value;
            form.elements['minAmount'].value = document.getElementById('minAmountField').getAttribute('data-raw') || '';
            form.elements['maxAmount'].value = document.getElementById('maxAmountField').getAttribute('data-raw') || '';
            form.elements['minDebtAt'].value = document.getElementById('minDebtAtField').value;
            form.elements['maxDebtAt'].value = document.getElementById('maxDebtAtField').value;
            form.elements['minCreatedAt'].value = document.getElementById('minCreatedAtField').value;
            form.elements['maxCreatedAt'].value = document.getElementById('maxCreatedAtField').value;
            form.elements['size'].value = document.getElementById('sizeField').value;
            form.submit();
        }

        document.querySelectorAll('input[id$="Field"]').forEach(input => {
            input.addEventListener('keydown', event => {
                if (event.key === 'Enter') {
                    updateField();
                }
            });
        });


    </script>
</section>
</body>
</html>
