<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en" layout:decorate="template"

>
<body>
<section layout:fragment="content" class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-10 col-lg-8 d-flex flex-column nowrap justify-content-center">
            <div class="card mt-4 mb-4">
                <div class="card-header">
                    <h4 class="card-title"> Thông tin người dùng </h4>
                </div>
                <div class="card-body bd-sidebar">
                    <form class="p-md-4" th:object="${user}">
                        <!--/*@thymesVar id="currentUser" type="com.hsf302.trialproject.entity.User"*/-->
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('id', 'text', 'bi-hash', 'Mã tài khoản', true)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('username', 'text', 'bi-person', 'Tên đăng nhập', true)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('firstName', 'text', 'bi-person', 'Họ', true)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('lastName', 'text', 'bi-person', 'Tên', true)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('birthday', 'text', 'bi-calendar', 'Ngày sinh', true)"></div>
                        </div>

                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('phone', 'tel', 'bi-telephone-fill', 'Số điện thoại', true)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('email', 'email', 'bi-envelope-fill', 'Email', false)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('address', 'text', 'bi-house-fill', 'Địa chỉ', false)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('createdAt', 'datetime-local', 'bi-calendar-check', 'Ngày thêm', false)"></div>
                        </div>
                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('updatedAt', 'datetime-local', 'bi-clock-history', 'Ngày cập nhật', false)"></div>
                        </div>

                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('locked', 'text', 'bi-lock', 'Trạng thái tài khoản', true)"></div>
                        </div>

                        <div class="mb-3">
                            <div th:replace="fragments/readOnlyInput :: customReadonlyInput('lockReason', 'text', 'bi-exclamation-circle', 'Lý do bị khóa', true)"></div>
                        </div>
                        <div class="mb-3">
                            <a href="/users/list" class="btn btn-primary">
                                <i class="bi bi-arrow-left"></i>
                                Quay lại
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // validate data
        $('#fullName').on('input', function () {
            if ($(this).val() === '') {
                $(this).addClass('is-invalid');
            } else {
                $(this).removeClass('is-invalid');
            }
        });
    </script>


</section>
</body>
</html>
