<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<body>

<div class="input-group has-validation" th:fragment="customInput(name, type, icon, label)">

    <div class="input-group">
        <span class="input-group-text p-3">
            <i th:class="'bi ' + ${icon}"></i>
        </span>
        <div class="form-floating"
             th:classappend="${#fields.hasErrors('__${name}__')} ? 'is-invalid' : ''"
        >
            <input class="form-control" required
                   th:classappend="${#fields.hasErrors('__${name}__')} ? 'is-invalid' : ''"
                   th:field="*{__${name}__}"
                   th:id="*{__${name}__}" th:placeholder="${label}" th:type="${type}">
          <label th:for="*{__${name}__}" class="form-label" th:text="${label}"></label>
        </div>
    </div>
    <div class="invalid-feedback"
         th:if="${#fields.hasErrors('__${name}__')}"
         th:errors="*{__${name}__}">
    </div>
</div>
</body>
</html>
