<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="template"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<body>
<section class="container-fluid h-100" layout:fragment="content">
    <div class="h-100">
        <ul class="nav nav-tabs" id="invoiceTabs">
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        role="button"
                >
                    <i class="bi bi-plus-circle"></i>
                </a
                >
                <ul class="dropdown-menu">
                    <li>
                        <a
                                class="dropdown-item"
                                href="#"
                                onclick="addInvoiceTab('purchase')"
                        >Hóa đơn nhập kho</a
                        >
                    </li>
                    <li>
                        <a
                                class="dropdown-item"
                                href="#"
                                onclick="addInvoiceTab('sales')"
                        >Hóa đơn bán hàng</a
                        >
                    </li>
                </ul>
            </li>
        </ul>
        <div class="tab-content mt-3" id="invoiceContent"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        let maxDiscount = [[${warehouse.maxDiscount}]];

        let tabCount = 0;
        let invoiceData = {};
        let productPackaging = [];
        let csrfToken = $("meta[name='_csrf']").attr("content");
        let csrfHeader = $("meta[name='_csrf_header']").attr("content");
        fetch(`/api/product-package/getAll`)
            .then(response => response.json())
            .then(data => {
                productPackaging = data;
            })
            .catch(error => console.error("Lỗi tải quy cách đóng gói:", error));

        function addInvoiceTab(type) {
            tabCount++;
            const tabId = `invoiceTab${tabCount}`;
            const tabTitle = (type === 'purchase') ? "Nhập kho" : "Bán hàng";

            invoiceData[tabId] = {
                type,
                items: [],
                customer: {},
                status: "NEW",
                orderId: null,
                tabId: tabId
            };

            // Tạo phần tử tab mới
            let tabItem = document.createElement("li");
            tabItem.className = "nav-item";
            tabItem.innerHTML = `
                <a class="nav-link" id="${tabId}-tab" data-bs-toggle="tab" href="#${tabId}">
                    <span id="${tabId}-tab-status" class="text-primary">
                        ●
                    </span>
                    ${tabTitle} #${tabCount}
                    <button type="button" class="btn-close ms-2" onclick="removeTab('${tabId}', event)"></button>
                </a>
            `;
            document.getElementById("invoiceTabs").appendChild(tabItem);

            let tabContent = document.createElement("div");
            tabContent.className = "tab-pane fade";
            tabContent.id = tabId;
            tabContent.innerHTML = `<p>Đang tải dữ liệu...</p>`;
            document.getElementById("invoiceContent").appendChild(tabContent);

            new bootstrap.Tab(document.getElementById(`${tabId}-tab`)).show();

            fetch(`/invoice/${type}?tabId=${tabId}`)
                .then(response => {
                    if (!response.ok) throw new Error("Lỗi kết nối mạng!");
                    return response.text();
                })
                .then(html => {
                    tabContent.innerHTML = html;
                    if (type === 'purchase') {
                        initPurchaseEvents(tabId);
                    } else {
                        initSalesEvents(tabId);
                    }
                })
                .catch(error => {
                    console.log(error)
                    tabContent.innerHTML = `<p class="text-danger">Lỗi tải dữ liệu!</p>`;
                });
        }

        function removeTab(tabId, event) {
            event.preventDefault();

            let tab = document.getElementById(`${tabId}-tab`);
            let content = document.getElementById(tabId);

            if (tab && content) {
                let isActive = tab.classList.contains("active");
                tab.remove();
                content.remove();

                delete invoiceData[tabId];

                if (isActive) {
                    let nextTab = document.querySelector("#invoiceTabs .nav-link:not(.dropdown-toggle)");
                    if (nextTab) {
                        new bootstrap.Tab(nextTab).show();
                    }
                }
            }
        }

        function initPurchaseEvents(tabId) {
            console.log(`Khởi tạo sự kiện cho tab: ${tabId}`);

            let searchInput = document.getElementById(`productSearch${tabId}`);
            let productSuggestion = document.getElementById(`productSuggestion${tabId}`);

            let customerPhone = document.getElementById(`customerPhone${tabId}`);
            let customerName = document.getElementById(`customerName${tabId}`);
            let customerAddress = document.getElementById(`customerAddress${tabId}`);
            let customerBalance = document.getElementById(`customerBalance${tabId}`);
            let btnCustomer = document.getElementById(`btnCustomer${tabId}`);

            let totalPrice = document.getElementById(`totalPrice${tabId}`);
            let payment = document.getElementById(`payment${tabId}`);
            let unpaid = document.getElementById(`unpaid${tabId}`);

            let paid = document.getElementById(`paid${tabId}`);
            let paidAndDebt = document.getElementById(`paidAndDebt${tabId}`);

            let btnPurchase = document.getElementById(`btnPurchase${tabId}`);

            unpaid.addEventListener("click", function () {
                payment.value = formatCurrency(0);
                payment.setAttribute("data-raw", "0");
                updateTotal(tabId)
            });

            paid.addEventListener("click", function () {
                payment.value = formatCurrency(parseInt(totalPrice.getAttribute("data-raw"), 10));
                payment.setAttribute("data-raw", totalPrice.getAttribute("data-raw"));
                updateTotal(tabId)
            });

            paidAndDebt.addEventListener("click", function () {
                let balanceValue = parseInt(customerBalance.getAttribute("data-raw"), 10);
                let totalPriceValue = parseInt(totalPrice.getAttribute("data-raw"), 10);
                payment.value = formatCurrency(totalPriceValue + balanceValue);
                payment.setAttribute("data-raw", totalPriceValue + balanceValue);
                updateTotal(tabId);
            });

            function debounce(func, delay) {
                let timeout;
                return function (...args) {
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(this, args), delay);
                };
            }

            if (searchInput) {
                searchInput.addEventListener("input", debounce(function () {
                    let keyword = this.value.trim();
                    if (keyword.length > 0) {
                        fetch(`/api/product/search?name=${keyword}`)
                            .then(response => response.json())
                            .then(data => {
                                productSuggestion.classList.remove("d-none");
                                productSuggestion.innerHTML = data.map(product => `
                          <div onclick="addProductToPurchase('${tabId}', '${product.id}', '${product.name}', '${product.image}', ${product.productPackageId}, ${product.price}, '${product.zones.map(zone => zone.name).join(', ')}')"
                              class="list-group-item list-group-item-action d-flex align-items-center"
                              style="cursor: pointer"
                              >
                              <img src="/${product.image}" class="img-thumbnail me-3" width="75" height="75">
                              <div>
                                  <strong>${product.name}</strong> - <span class="text-success">${formatCurrency(product.price)}</span>
                                  <div class="text-muted">Tồn kho: ${product.stockQuantity}kg | Quy cách đóng gói: ${productPackaging.find(pkg => pkg.id === product.productPackageId).name}

                                  </div>
                                  <div class="text-muted">Khu vực: ${product.zones.map(zone => zone.name).join(', ')}</div>
                              </div>
                          </div>
                    `).join('');
                            })
                            .catch(error => console.error("Lỗi tải sản phẩm:", error));
                    } else {
                        productSuggestion.innerHTML = "";
                    }
                }, 100));
            }

            customerPhone.addEventListener("input", function () {
                let phone = this.value.trim();
                if (phone.length === 10) {
                    fetch(`/api/customer/search?phone=${phone}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Không thể tìm thấy thông tin khách hàng");
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data) {
                                customerName.value = data.fullName;
                                customerAddress.value = data.address;
                                customerBalance.innerText = formatCurrency(data.balance);
                                customerBalance.setAttribute("data-raw", data.balance);
                                invoiceData[tabId].customer = data;
                                updateTotal(tabId);
                            } else {
                                btnCustomer.classList.remove("d-none");
                            }
                        })
                        .catch(error => {
                            btnCustomer.classList.remove("d-none");
                        });
                }
            });

            btnCustomer.addEventListener("click", function () {
                fetch(`/api/customer/add`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        [csrfHeader]: csrfToken
                    },
                    body: JSON.stringify({
                        phone: customerPhone.value,
                        fullName: customerName.value,
                        address: customerAddress.value
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        customerBalance.innerText = formatCurrency(data.balance);
                        customerBalance.setAttribute("data-raw", data.balance);
                        invoiceData[tabId].customer = data;
                        updateTotal(tabId)
                        btnCustomer.classList.add("d-none");
                    })
                    .catch(error => {
                        alert("Lỗi thêm khách hàng!");
                        console.error("Lỗi thêm khách hàng:", error);
                    });
            })

            btnPurchase.addEventListener("click", function () {
                submitPurchase(tabId);
            });

            handleCurrencyInputWithNegative(payment, tabId);
            payment.addEventListener("input", function () {
                updateTotal(tabId)
            })
        }

        function initSalesEvents(tabId) {
            console.log(`Khởi tạo sự kiện cho tab: ${tabId}`);

            let searchInput = document.getElementById(`productSearch${tabId}`);
            let productList = document.getElementById(`productList${tabId}`);
            let productSuggestion = document.getElementById(`productSuggestion${tabId}`);

            let customerPhone = document.getElementById(`customerPhone${tabId}`);
            let customerName = document.getElementById(`customerName${tabId}`);
            let customerAddress = document.getElementById(`customerAddress${tabId}`);
            let customerBalance = document.getElementById(`customerBalance${tabId}`);
            let btnCustomer = document.getElementById(`btnCustomer${tabId}`);

            let discount = document.getElementById(`discount${tabId}`);
            let payment = document.getElementById(`payment${tabId}`);
            let paymentDropdown = document.getElementById(`paymentDropdown${tabId}`)
            let unpaid = document.getElementById(`unpaid${tabId}`);
            let partial = document.getElementById(`partial${tabId}`);
            let paid = document.getElementById(`paid${tabId}`);
            let paidAndDebt = document.getElementById(`paidAndDebt${tabId}`);

            let debt = document.getElementById(`debt${tabId}`);
            let btnPurchase = document.getElementById(`btnPurchase${tabId}`);

            unpaid.addEventListener("click", function () {
                payment.value = formatCurrency(0);
                payment.setAttribute("data-raw", "0");
                updateTotalSale(tabId)
            });

            // tiền hàng
            paid.addEventListener("click", function () {
                payment.value = formatCurrency(parseInt(discount.getAttribute("data-raw"), 10))
                payment.setAttribute("data-raw", discount.getAttribute("data-raw"));
                updateTotalSale(tabId)
            });

            paidAndDebt.addEventListener("click", function () {
                let balanceValue = parseInt(customerBalance.getAttribute("data-raw"), 10);
                let discountValue = parseInt(discount.getAttribute("data-raw"), 10);

                payment.value = formatCurrency(discountValue - balanceValue);
                payment.setAttribute("data-raw", discountValue - balanceValue);

                updateTotalSale(tabId);
            });


            // Hàm debounce: Chỉ gọi API sau khi người dùng ngừng nhập trong 300ms
            function debounce(func, delay) {
                let timeout;
                return function (...args) {
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(this, args), delay);
                };
            }

            // Gợi ý sản phẩm theo tên với debounce
            if (searchInput) {
                searchInput.addEventListener("input", debounce(function () {
                    let keyword = this.value.trim();
                    if (keyword.length > 0) {
                        fetch(`/api/product/search?name=${keyword}`)
                            .then(response => response.json())
                            .then(data => {
                                productSuggestion.classList.remove("d-none");
                                productSuggestion.innerHTML = data.map(product => `
                          <div onclick="addProductToSales('${tabId}', '${product.id}', '${product.name}', '${product.zones.map(zone => zone.name).join(', ')}', '${product.image}', ${product.productPackageId}, ${product.price}, ${product.stockQuantity})"
                              class="list-group-item list-group-item-action d-flex align-items-center"
                              style="cursor: pointer"
                              >
                              <img src="/${product.image}" class="img-thumbnail me-3" width="75" height="75">
                              <div>
                                  <strong>${product.name}</strong> - <span class="text-success">${formatCurrency(product.price)}</span>
                                  <div class="text-muted">Tồn kho: ${product.stockQuantity}kg | Quy cách đóng gói: ${productPackaging.find(pkg => pkg.id === product.productPackageId).name}

                                  </div>
                                  <div class="text-muted">Khu vực: ${product.zones.map(zone => zone.name).join(', ')}</div>
                              </div>
                          </div>
                    `).join('');
                            })
                            .catch(error => console.error("Lỗi tải sản phẩm:", error));
                    } else {
                        productSuggestion.innerHTML = "";
                    }
                }, 150)); // Độ trễ 150ms
            }

            // Tự động điền thông tin khách hàng theo số điện thoại
            customerPhone.addEventListener("input", function () {
                let phone = this.value.trim();
                if (phone.length === 10) {
                    fetch(`/api/customer/search?phone=${phone}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Không thể tìm thấy thông tin khách hàng");
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data) {
                                customerName.value = data.fullName;
                                customerAddress.value = data.address;
                                customerBalance.innerText = formatCurrency(data.balance);
                                customerBalance.setAttribute("data-raw", data.balance);
                                invoiceData[tabId].customer = data;
                                updateTotalSale(tabId);
                            } else {
                                btnCustomer.classList.remove("d-none");
                            }
                        })
                        .catch(error => {
                            btnCustomer.classList.remove("d-none");
                        });
                }
            });

            btnCustomer.addEventListener("click", function () {
                fetch(`/api/customer/add`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        [csrfHeader]: csrfToken
                    },
                    body: JSON.stringify({
                        phone: customerPhone.value,
                        fullName: customerName.value,
                        address: customerAddress.value
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        customerBalance.innerText = formatCurrency(data.balance);
                        customerBalance.setAttribute("data-raw", data.balance);
                        invoiceData[tabId].customer = data;
                        updateTotalSale(tabId)
                        btnCustomer.classList.add("d-none");
                    })
                    .catch(error => {
                        alert("Lỗi thêm khách hàng!");
                        console.error("Lỗi thêm khách hàng:", error);
                    });
            })

            btnPurchase.addEventListener("click", function () {
                submitSale(tabId);
            });

            handleCurrencyInputWithNegative(payment, tabId);
            payment.addEventListener("input", function () {
                updateTotalSale(tabId)
            })

        }


        function addProductToSales(tabId, productId, productName, zones, productImage, productPackageId, productPrice, productStockQuantity) {
            let uniqueKey = `${productId}-${productPackageId}-${Date.now()}`;

            invoiceData[tabId].items.push({
                uniqueKey: uniqueKey,
                id: productId,
                name: productName,
                productPackageId: productPackageId,
                quantity: 1,
                productPrice: productPrice,
                productStockQuantity: productStockQuantity,
                weight: (productPackaging.find(pkg => pkg.id === productPackageId).weight), // trọng lượng
                price: productPrice, // giá bán đề xuất
                discount: productPrice, // giá bán thực
                total: productPrice * (productPackaging.find(pkg => pkg.id === productPackageId).weight) // thành tiền
            });

            let productList = document.getElementById(`productList${tabId}`);
            if (productList) {
                let row = document.createElement("tr");
                row.id = `row-${uniqueKey}`;
                row.innerHTML = `
            <td>
                ${productName}
                <br>
                ${zones}
            </td>
            <td>
                <img src="/${productImage}" class="img-thumbnail" width="50" height="50" onclick="showProductInfo('${productId}')">
            </td>
            <td>
                <select class="form-select" onchange="updateProductPackageSales('${tabId}', '${uniqueKey}', this.value)" style="max-width: 180px;">
                    <option value="">Chọn quy cách đóng gói</option>
                    ${productPackaging.map(pkg => `
                        <option value="${pkg.id}" ${pkg.id === productPackageId ? 'selected' : ''}>
                            ${pkg.name} (${pkg.weight}kg)
                        </option>
                    `).join('')}
                </select>
            </td>

            <td>
                <input type="number" class="form-control form-control-sm " min="1" value="1" style="max-width: 70px"
                    oninput="updateProductQuantitySales('${tabId}', '${uniqueKey}', this.value)">
            </td>
            <td>
                <span id="weight-${uniqueKey}">${productPackaging.find(pkg => pkg.id === productPackageId).weight + 'kg'}</span>
            </td>
            <td>
                <span id="price-${uniqueKey}">${formatCurrency(productPrice)}</span>
            </td>
            <td>
                <input type="text" class="form-control form-control-sm price-input"
                    style="max-width: 100px;"
                    data-raw="${productPrice}"
                    value="${productPrice}"
                    oninput="updateProductDiscountSales('${tabId}', '${uniqueKey}', this.value)"
                    id="discount-${uniqueKey}"
                    >
            </td>
            <td>
                <span id="total-${uniqueKey}">${formatCurrency(productPrice * (productPackaging.find(pkg => pkg.id === productPackageId).weight))}</span>
            </td>
            <td>
                <button class="btn btn-danger" onclick="removeProductFromInvoiceSale('${tabId}', '${uniqueKey}')">Xóa</button>
            </td>
        `;
                productList.appendChild(row);
                let priceInputs = row.querySelectorAll(".price-input");
                priceInputs.forEach(input => {
                    handleCurrencyInputSales(input, tabId)
                });
            }

            let productSuggestion = document.getElementById(`productSuggestion${tabId}`);
            if (productSuggestion) {
                productSuggestion.classList.add("d-none");
            }
            let searchInput = document.getElementById(`productSearch${tabId}`);
            if (searchInput) {
                searchInput.value = "";
            }
        }


        function showProductInfo(productId) {
            fetch("/api/product/get/" + productId, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                }
            }).then(
                response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error("Lỗi tải thông tin sản phẩm");
                }
            ).then(
                data => {
                    const productModal = new bootstrap.Modal(document.getElementById('productModal'));
                    const productModalLabel = document.getElementById('productModalLabel');
                    const productModalImage = document.getElementById('productModalImage');
                    const productModalPrice = document.getElementById('productModalPrice');
                    const productModalQuantity = document.getElementById('productModalQuantity');
                    const productModalDescription = document.getElementById('productModalDescription');
                    const productModalZones = document.getElementById('productModalZones');

                    productModalLabel.innerText = data.name;
                    productModalImage.src = `/${data.image}`;
                    productModalPrice.innerText = formatCurrency(data.price);
                    productModalQuantity.innerText = data.stockQuantity + ' Kg';
                    productModalDescription.innerHTML = data.description;
                    productModalZones.innerHTML = data.zones.length > 0
                        ? data.zones.map(zone => `
                        <li class="list-group-item">
                            <strong>${zone.name}</strong> ${zone.description || "<p>Không có mô tả</p>"}
                        </li>
                        `).join("")
                        : '<li class="list-group-item">Không có khu vực lưu trữ</li>';
                    productModal.show();
                }
            ).catch(
                error => {
                    console.error(error);
                }
            )
        }

        function removeProductFromInvoiceSale(tabId, uniqueKey) {
            let itemIndex = invoiceData[tabId].items.findIndex(item => item.uniqueKey === uniqueKey);
            if (itemIndex >= 0) {
                invoiceData[tabId].items.splice(itemIndex, 1);
                let row = document.getElementById(`row-${uniqueKey}`);
                if (row) {
                    row.remove();
                }
                updateTotalSale(tabId);
            }
        }

        function updateTotalPriceSale(tabId, uniqueKey) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            if (item) {
                let weight = document.getElementById(`weight-${uniqueKey}`);
                let discountInput = document.getElementById(`discount-${uniqueKey}`);
                let total = document.getElementById(`total-${uniqueKey}`);
                weight.innerText = item.weight + " kg";
                discountInput.setAttribute("data-raw", item.discount);
                discountInput.value = formatCurrency(item.discount);
                total.innerText = formatCurrency(item.total);
            }
            updateTotalSale(tabId)
        }

        function updateProductPackageSales(tabId, uniqueKey, productPackageId) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            let pkid = parseInt(productPackageId);
            if (item) {
                item.productPackageId = pkid
                item.weight = productPackaging.find(pkg => pkg.id === pkid).weight * item.quantity;
                item.price = item.productPrice;
                item.discount = item.productPrice;
                item.total = item.discount * item.weight;
                updateTotalPriceSale(tabId, uniqueKey);
            }
        }

        function updateProductDiscountSales(tabId, uniqueKey, discount) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            let priceNumber = parseFloat(discount.replace(/\D/g, "")) || 0;
            if (item) {
                item.discount = priceNumber;
                item.total = item.discount * item.weight;
                updateTotalPriceSale(tabId, uniqueKey);
            }
        }

        function updateProductQuantitySales(tabId, uniqueKey, quantity) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            if (item) {
                item.quantity = parseInt(quantity, 10);
                item.weight = productPackaging.find(pkg => pkg.id === item.productPackageId).weight * item.quantity;
                item.total = item.discount * item.weight;
                updateTotalPriceSale(tabId, uniqueKey);
            }
        }

        function handleCurrencyInputSales(input, tabId) {
            input.addEventListener("keydown", function (event) {
                let rawValue = this.getAttribute("data-raw") || "";
                if (event.key === "Backspace") {
                    if (rawValue.length > 1) {
                        rawValue = rawValue.slice(0, -1);
                        this.setAttribute("data-raw", rawValue);
                        this.value = formatCurrency(rawValue);
                    } else {
                        this.setAttribute("data-raw", "");
                        this.value = "";
                    }
                }
            });

            input.addEventListener("input", function () {
                let rawValue = this.value.replace(/\D/g, "");
                rawValue = rawValue.replace(/^0+/, "") || "0";
                this.setAttribute("data-raw", rawValue);
                this.value = formatCurrency(rawValue);
            });
            input.setAttribute("data-raw", input.value);
            input.value = formatCurrency(input.getAttribute("data-raw") || "");
            updateTotalSale(tabId)
        }

        function updateTotalSale(tabId) {
            let customerBalance = document.getElementById(`customerBalance${tabId}`);

            let totalPrice = document.getElementById(`totalPrice${tabId}`);
            let discount = document.getElementById(`discount${tabId}`);
            let payment = document.getElementById(`payment${tabId}`);
            let debt = document.getElementById(`debt${tabId}`);

            let total = invoiceData[tabId].items.reduce((sum, item) => sum + (item.price * item.weight), 0);
            totalPrice.setAttribute("data-raw", total);
            totalPrice.innerText = formatCurrency(total);

            let totalDiscount = invoiceData[tabId].items.reduce((sum, item) => sum + (item.discount * item.weight), 0);
            discount.setAttribute("data-raw", totalDiscount);
            discount.innerText = formatCurrency(totalDiscount);

            let balance = parseInt(customerBalance.getAttribute("data-raw") || "0", 10);
            let payAmount = parseInt(payment.getAttribute("data-raw") || "0", 10);

            let remainingDebt = balance + payAmount - totalDiscount;

            debt.setAttribute("data-raw", remainingDebt);
            debt.innerText = formatCurrency(remainingDebt);
        }

        function formatCurrency(value) {
            let number = parseInt(value, 10);
            return isNaN(number) ? "0 VND" : number.toLocaleString("vi-VN", {style: "currency", currency: "VND"});
        }

        function addProductToPurchase(tabId, productId, productName, productImage, productPackageId, productPrice, zones) {
            if (!productPackageId) {
                alert("Vui lòng chọn quy cách đóng gói!");
                return;
            }

            let uniqueKey = `${productId}-${productPackageId}-${Date.now()}`;

            invoiceData[tabId].items.push({
                uniqueKey: uniqueKey,
                id: productId,
                name: productName,
                productPackageId: productPackageId,
                quantity: 1,
                weight: productPackaging.find(pkg => pkg.id === productPackageId).weight,
                priceSale: productPrice,
                price: 0,
                total: 0
            });

            let productList = document.getElementById(`productList${tabId}`);
            if (productList) {
                let row = document.createElement("tr");
                row.id = `row-${uniqueKey}`;
                row.innerHTML = `
            <td>
                ${productName}
                <br>
                ${zones}
            </td>
            <td>
                <img src="/${productImage}" class="img-thumbnail" width="50" height="50" onclick="showProductInfo('${productId}')">
            </td>
            <td>
                <select class="form-select" onchange="updateProductPackage('${tabId}', '${uniqueKey}', this.value)" style="max-width: 180px;">
                    <option value="">Chọn quy cách đóng gói</option>
                    ${productPackaging.map(pkg => `
                        <option value="${pkg.id}" ${pkg.id === productPackageId ? 'selected' : ''}>
                            ${pkg.name} (${pkg.weight}kg)
                        </option>
                    `).join('')}
                </select>
            </td>
            <td>
                <input type="number" class="form-control form-control-sm " min="1" value="1" style="max-width: 70px"
                    oninput="updateProductQuantity('${tabId}', '${uniqueKey}', this.value)">
            </td>
            <td>
                <span id="weight-${uniqueKey}">${productPackaging.find(pkg => pkg.id === productPackageId).weight + 'kg'}</span>
            </td>
            <td>
                <span id="price-${uniqueKey}">${formatCurrency(productPrice)}</span>
            </td>
            <td>
                <input type="text" class="form-control form-control-sm price-input" data-raw="0"
                    oninput="updateProductPrice('${tabId}', '${uniqueKey}', this.value)">
            </td>
            <td>
                <span id="total-${uniqueKey}">${formatCurrency(0)}</span>
            </td>
            <td>
                <button class="btn btn-danger" onclick="removeProductFromInvoice('${tabId}', '${uniqueKey}')">Xóa</button>
            </td>
        `;
                productList.appendChild(row);
                let priceInputs = row.querySelectorAll(".price-input");
                priceInputs.forEach(input => {
                    handleCurrencyInput(input, tabId)
                });
            }

            let productSuggestion = document.getElementById(`productSuggestion${tabId}`);
            if (productSuggestion) {
                productSuggestion.classList.add("d-none");
            }
            // xóa nội dung ô tìm kiếm
            let searchInput = document.getElementById(`productSearch${tabId}`);
            if (searchInput) {
                searchInput.value = "";
            }
        }

        function updateProductPackage(tabId, uniqueKey, productPackageId) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey)
            let pkid = parseInt(productPackageId);
            if (item) {
                item.productPackageId = productPackageId;
                item.weight = productPackaging.find(pkg => pkg.id === pkid).weight * item.quantity;
                item.total = item.price * item.weight;
                updateTotalPrice(tabId, uniqueKey);
            }
        }

        function updateProductQuantity(tabId, uniqueKey, quantity) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            if (item) {
                item.quantity = parseInt(quantity);
                item.weight = productPackaging.find(pkg => pkg.id === item.productPackageId).weight * item.quantity;
                item.total = item.price * item.weight;
                updateTotalPrice(tabId, uniqueKey);
            }

        }

        function updateProductPrice(tabId, uniqueKey, price) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            let priceNumber = parseFloat(price.replace(/\D/g, "")) || 0;
            if (item) {
                item.price = priceNumber;
                item.total = item.price * item.weight;
                updateTotalPrice(tabId, uniqueKey);
            }
        }

        function updateTotalPrice(tabId, uniqueKey) {
            let item = invoiceData[tabId].items.find(item => item.uniqueKey === uniqueKey);
            if (item) {
                document.getElementById(`weight-${uniqueKey}`).innerText = item.weight + " kg";
                document.getElementById(`total-${uniqueKey}`).innerText = formatCurrency(item.total);
            }
            updateTotal(tabId)
        }

        function removeProductFromInvoice(tabId, uniqueKey) {
            invoiceData[tabId].items = invoiceData[tabId].items.filter(item => item.uniqueKey !== uniqueKey);
            let row = document.getElementById(`row-${uniqueKey}`);
            if (row) {
                row.remove();
                updateTotal(tabId)
            }
        }

        function updateTotal(tabId) {
            let customerBalance = document.getElementById(`customerBalance${tabId}`);

            let totalPrice = document.getElementById(`totalPrice${tabId}`);
            let payment = document.getElementById(`payment${tabId}`);
            let debt = document.getElementById(`debt${tabId}`);

            let total = invoiceData[tabId].items.reduce((sum, item) => sum + item.total, 0);
            totalPrice.setAttribute("data-raw", total);
            totalPrice.innerText = formatCurrency(total);

            let balance = parseInt(customerBalance.getAttribute("data-raw") || "0", 10);
            let payAmount = parseInt(payment.getAttribute("data-raw") || "0", 10);

            let remainingDebt = balance + total - payAmount;
            debt.setAttribute("data-raw", remainingDebt);
            debt.innerText = formatCurrency(remainingDebt);
        }

        function handleCurrencyInputWithNegative(input, tabId) {
            input.addEventListener('keydown', function (event) {
                let rawValue = this.getAttribute('data-raw') || '';
                if (event.key === '-' && rawValue.length === 0) {
                    this.setAttribute('data-raw', '-');
                    this.value = '-';
                    event.preventDefault();
                    return;
                }

                if (event.key === 'Backspace') {
                    event.preventDefault();
                    if (rawValue.length > 1) {
                        rawValue = rawValue.slice(0, -1);
                        this.setAttribute('data-raw', rawValue);
                        this.value = formatCurrency(rawValue);
                    } else {
                        this.setAttribute('data-raw', '');
                        this.value = '';
                    }
                }
            });

            input.addEventListener('input', function () {
                let rawValue = this.value.replace(/[^0-9-]/g, '');

                if (rawValue.includes('-')) {
                    rawValue = '-' + rawValue.replace(/-/g, '');
                }

                if (rawValue !== '-' && rawValue !== '-0') {
                    rawValue = rawValue.replace(/^(-?)0+/, '$1') || '0';
                }

                this.setAttribute('data-raw', rawValue);
                this.value = formatCurrency(rawValue);
            });

            input.value = formatCurrency(input.getAttribute('data-raw') || '');
            updateTotal(tabId);
        }


        function handleCurrencyInput(input, tabId) {
            input.addEventListener('keydown', function (event) {
                let rawValue = this.getAttribute('data-raw') || '';

                if (event.key === 'Backspace') {
                    if (rawValue.length > 1) {
                        rawValue = rawValue.slice(0, -1);
                        this.setAttribute('data-raw', rawValue);
                        this.value = formatCurrency(rawValue);
                    } else {
                        this.setAttribute('data-raw', '');
                        this.value = '';
                    }
                }
            });

            input.addEventListener('input', function () {
                let rawValue = this.value.replace(/\D/g, '');
                rawValue = rawValue.replace(/^0+/, '') || '0';
                this.setAttribute('data-raw', rawValue);
                this.value = formatCurrency(rawValue);
            });
            input.setAttribute('data-raw', input.value);
            input.value = formatCurrency(input.getAttribute('data-raw') || '');
            updateTotal(tabId);
        }

        function submitPurchase(tabId) {
            document.getElementById(`btnPurchase${tabId}`).classList.add("d-none");
            let data = invoiceData[tabId];

            let payload = {
                type: 'PURCHASE',
                totalPrice: 0,
                totalDiscount: 0,
                totalPayable: 0,
                totalPaid: document.getElementById(`payment${tabId}`).getAttribute("data-raw") || 0,
                totalDebt: 0,
                customerBalance: data.customer.balance,
                customerId: data.customer.id,
                isShipped: document.getElementById(`loadingService${tabId}`).checked ? true : false,
                description: document.getElementById(`note${tabId}`).value,
                items: data.items.map(item => ({
                    productId: item.id,
                    productPackageId: item.productPackageId,
                    quantity: item.quantity,
                    price: item.price,
                    discount: 0,
                    payable: item.total
                }))
            }

            if (!validateInvoice(payload)) {
                document.getElementById(`btnPurchase${tabId}`).classList.remove("d-none");
                showModal("Modal", Context.DANGER, "Dữ liệu không hợp lệ!", "Vui lòng nhập đầy đủ thông tin trước khi gửi");
                return;
            }

            fetch(`/api/invoice/purchase`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(payload)
            })
                .then(response => {
                    if (!response.ok) {
                        document.getElementById('btnPurchase').classList.remove("d-none");
                        showModal("Modal", Context.DANGER, "Lỗi kết nối!", "Vui lòng thử lại sau");
                        throw new Error("Lỗi kết nối mạng!");
                    }
                    return response.text();
                })
                .then(data => {
                    const orderId = parseInt(data, 10);
                    const tab = document.getElementById(tabId + "-tab");
                    tab.setAttribute("data-orderId", orderId);
                    invoiceData[tabId].status = "PENDING";
                    invoiceData[tabId].orderId = orderId;
                    const tabStatus = document.getElementById(tabId + "-tab-status");
                    tabStatus.classList.remove("text-primary");
                    tabStatus.classList.add("text-warning");
                    const statusElement = document.getElementById(`status${tabId}`);
                    statusElement.classList.add("bg-warning")
                    statusElement.innerHTML = 'Đang xử lý';
                    disableAllInputs(tabId);
                })
                .catch(error => {
                    document.getElementById(`btnPurchase${tabId}`).removeAttribute("disabled");
                    alert("Lỗi nhập kho!");
                    console.error("Lỗi nhập kho:", error);
                });

        }

        async function submitSale(tabId) {
            document.getElementById(`btnPurchase${tabId}`).classList.add("d-none");
            let data = invoiceData[tabId];

            let payload = {
                type: 'SALES',
                totalPrice: 0,
                totalDiscount: 0,
                totalPayable: 0,
                totalPaid: document.getElementById(`payment${tabId}`).getAttribute("data-raw") || 0,
                totalDebt: 0,
                customerBalance: data.customer.balance,
                customerId: data.customer.id,
                isShipped: !!document.getElementById(`loadingService${tabId}`).checked,
                description: document.getElementById(`note${tabId}`).value,
                items: data.items.map(item => ({
                    productId: item.id,
                    productName: item.name,
                    productPackageId: item.productPackageId,
                    productStockQuantity: item.productStockQuantity,
                    quantity: item.quantity,
                    weight: item.weight,
                    price: item.price,
                    discount: item.discount,
                    payable: item.total
                }))
            }

            let totalWeightByProduct = payload.items.reduce((acc, item) => {
                let productId = String(item.productId);
                acc[productId] = (acc[productId] || 0) + item.weight;
                return acc;
            }, {});

            for (let item of payload.items) {
                let productId = String(item.productId);
                if (totalWeightByProduct[productId] > item.productStockQuantity) {
                    document.getElementById(`btnPurchase${tabId}`).classList.remove("d-none");
                    showModal("Modal", Context.DANGER, "Khối lượng sản phẩm không hợp lệ!",
                        `Sản phẩm ${item.productName} vượt quá tồn kho (${totalWeightByProduct[productId]}kg / ${item.productStockQuantity}kg)`);
                    return;
                }
            }

            for (let item of payload.items) {
                let discountPercentage = ((item.discount - item.price) / item.price) * 100;

                if (Math.abs(discountPercentage) > maxDiscount) {
                    document.getElementById(`btnPurchase${tabId}`).classList.remove("d-none");

                    let result = await Swal.fire({
                        title: "Giá bán không hợp lệ!",
                        html: `Sản phẩm <b>"${item.productName}"</b> có giá thay đổi quá mức cho phép.<br>
                       <b>${Math.abs(discountPercentage.toFixed(2))}% > ${maxDiscount}%</b>.<br><br>
                       Bạn có muốn tiếp tục bán không?`,
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Tiếp tục bán",
                        cancelButtonText: "Hủy",
                        reverseButtons: true
                    });

                    if (!result.isConfirmed) {
                        console.log("Người dùng đã hủy bán hàng.");
                        return;
                    }
                    break;
                }
            }


            if (!validateSaleInvoice(payload)) {
                document.getElementById(`btnPurchase${tabId}`).classList.remove("d-none");
                showModal("Modal", Context.DANGER, "Dữ liệu không hợp lệ!", "Vui lòng nhập đầy đủ thông tin trước khi gửi");
                return;
            }

            fetch(`/api/invoice/sales`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(payload)
            })
                .then(response => {
                    if (!response.ok) {
                        document.getElementById('btnPurchase').classList.remove("d-none");
                        showModal("Modal", Context.DANGER, "Lỗi kết nối!", "Vui lòng thử lại sau");
                        throw new Error("Lỗi kết nối mạng!");
                    }
                    return response.text();
                })
                .then(data => {
                    const orderId = parseInt(data, 10);
                    const tab = document.getElementById(tabId + "-tab");
                    tab.setAttribute("data-orderId", orderId);
                    invoiceData[tabId].status = "PENDING";
                    invoiceData[tabId].orderId = orderId;
                    const tabStatus = document.getElementById(tabId + "-tab-status");
                    tabStatus.classList.remove("text-primary");
                    tabStatus.classList.add("text-warning");
                    const statusElement = document.getElementById(`status${tabId}`);
                    statusElement.classList.add("bg-warning")
                    statusElement.innerHTML = 'Đang xử lý';
                    disableAllInputs(tabId);
                })
                .catch(error => {
                    console.log(error)
                    document.getElementById(`btnPurchase${tabId}`).removeAttribute("disabled");
                    showModal("Modal", Context.DANGER, "Lỗi hóa đơn!", "Vui lòng thử lại sau");
                });
        }

        function validateSaleInvoice(invoice) {
            if (!invoice.type || !invoice.customerId) {
                return false;
            }

            if (!invoice.items || invoice.items.length === 0) {
                return false;
            }

            return invoice.items.every(item => item.productId && item.productPackageId && item.quantity > 0 && item.discount >= 0 && item.payable >= 0);
        }

        function validateInvoice(invoice) {
            if (!invoice.type || !invoice.customerId) {
                return false;
            }

            if (!invoice.items || invoice.items.length === 0) {
                return false;
            }


            return invoice.items.every(item => item.productId && item.productPackageId && item.quantity > 0 && item.price >= 0 && item.payable >= 0);
        }
    </script>


    <script>
        const socket = new SockJS('/ws');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log("✅ WebSocket Connected: ", frame);
            stompClient.subscribe('/user/queue/invoice-status', function (message) {
                const data = JSON.parse(message.body);
                console.log("📩 Nhận tin nhắn:", data);
                updateUIWithInvoiceStatus(data);
            });
        }, function (error) {
            console.error("🔴 Lỗi kết nối WebSocket:", error);
        });

        function updateUIWithInvoiceStatus(data) {
            console.log("Xử lý dữ liệu:", data);
            const orderId = data.orderId;
            const status = data.status;
            const message = data.message;


            const foundTab = Object.entries(invoiceData).find(
                ([key, value]) => value.orderId === orderId
            );
            console.log(orderId, foundTab, invoiceData);

            const tabId = foundTab ? foundTab[1].tabId : null;
            const type = foundTab ? foundTab[1].type : null;
            console.log("TabId:", tabId);
            if (tabId) {
                const tab = document.getElementById(tabId + "-tab");
                if (tab) {
                    invoiceData[tabId].status = status;
                    const tabStatus = document.getElementById(tabId + "-tab-status");
                    tabStatus.classList.remove("text-warning");
                    const statusElement = document.getElementById(`status${tabId}`);
                    const messageElement = document.getElementById(`message${tabId}`);
                    messageElement.innerHTML = message;
                    if (status === 'SUCCESS') {
                        statusElement.innerHTML = "Đã xử lý thành công đơn hàng";
                        statusElement.classList.add("bg-success");
                        statusElement.classList.remove("bg-warning");
                        tabStatus.classList.add("text-success");

                        const printInvoice = document.getElementById(`printInvoice${tabId}`);
                        printInvoice.classList.remove("d-none");
                        const printInvoiceBtn = document.getElementById(`printInvoiceBtn${tabId}`);

                        const url = type === 'purchase'
                            ? `/invoice/detail/import/print/${orderId}`
                            : `/invoice/detail/export/print/${orderId}`;

                        printInvoiceBtn.addEventListener("click", function () {
                            let iframe = document.createElement("iframe");
                            iframe.style.display = "none";
                            document.body.appendChild(iframe);
                            fetch(url)
                                .then(response => response.text())
                                .then(html => {
                                    iframe.contentDocument.open();
                                    iframe.contentDocument.write(html);
                                    iframe.contentDocument.close();
                                    setTimeout(() => {
                                        iframe.contentWindow.print();
                                        document.body.removeChild(iframe);
                                    }, 500);
                                })
                                .catch(error => console.error("Lỗi tải hóa đơn:", error));
                        });
                    } else {
                        statusElement.innerHTML = "Đã xảy ra lỗi khi xử lý";
                        statusElement.classList.add("bg-danger");
                        statusElement.classList.remove("bg-warning");
                        tabStatus.classList.add("text-danger");
                    }

                } else {
                    console.error("Không tìm thấy tab:", tabId);
                }
            }

        }


        function disableAllInputs(tabId) {
            const inputs = document.querySelectorAll(`#${tabId} input, #${tabId} select, #${tabId} textarea`);
            inputs.forEach(input => {
                input.setAttribute("disabled", "true");
            });

            const removeButtons = document.querySelectorAll(`#${tabId} button`);
            removeButtons.forEach(button => {
                button.classList.add("d-none");
            });
        }
    </script>


    <div th:replace="fragments/productModal::productModal"></div>
</section>
</body>
</html>
