<div class="row">

    <!-- Cột trái: Sản phẩm -->
    <div class="col-md-8">
        <h4>Danh sách sản phẩm</h4>
        <div class="col-md-6 position-relative">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" th:id="'productSearch' + ${tabId}">
                <label th:for="'productSearch' + ${tabId}">Nhập tên sản phẩm</label>
            </div>
            <div class="list-group d-none position-absolute w-100 z-3 bg-body" th:id="'productSuggestion' + ${tabId}">

            </div>
        </div>


        <table class="table mt-2 tb-sm">
            <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Quy cách đóng gói</th>
                <th>Số lượng</th>
                <th>Tổng giá</th>
                <th>Giảm</th>
                <th>Thành tiền</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody th:id="'productList' + ${tabId}">
            <!-- Sản phẩm sẽ được tải vào đây -->
            </tbody>
        </table>

        <hr>

<!--        tổng-->



    </div>

    <!-- Cột phải: Khách hàng -->
    <div class="col-md-4">
        <h4>Thông tin khách hàng</h4>
        <label>Họ tên:</label>
        <input type="text" th:id="'customerName' + ${tabId}" class="form-control">
        <label>Số điện thoại:</label>
        <input type="text" th:id="'customerPhone' + ${tabId}" class="form-control">
        <label>Ghi chú:</label>
        <textarea th:id="'customerNote' + ${tabId}" class="form-control"></textarea>
    </div>

    <!-- Script riêng cho tab này -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initSaleEvents("[[${tabId}]]");
        });
    </script>
</div>